.venv/
venv/
__pycache__/
*.pyc
.env
.env.*
instance
.pytest_cache/
.coverage   
htmlcov/
.tox/
dist/
build/
*.egg-info/
.idea/
.vscode/
.DS_Store
migrations/
*.sqlite3
logs/
*.log
celerybeat-schedule
*.pid
*.pid.lock
coverage.xml
nosetests.xml
pytest.xml
junit.xml
.ruff_cache/
.ipynb_checkpoints/
.scrapy/
.cache/
.pyre/
.pytype/
.spyproject/
.eggs/
.cache/pdm/
__pypackages__/
.pdm.toml